input.form-control-plaintext {
    color: white;
    text-align: center;
}

div.profile {
    background-color: #212529;
    padding: 2rem;
    border-radius: 7px;
    width: 25vw;
    margin-left: 38vw;
    min-height: 50vh;
    margin-top: 15vh;
}

div.label {
    text-align: left;
}