div.text-light.m-0.navbar {
    max-width: 1295px;
    margin: 0;
    padding-bottom: 0px;
    padding: 0px;
}

div.m-0.row {
    max-width: 1300px;
    min-width: 99vw;
    margin: 0px;
    max-height: 70px;
}

div.logo.col {
    min-width: 8vw;
    max-width: 8vw;
    margin-left: 1vw;
}

svg.mt-2 {
    position: absolute;
    left: 27px;
    top: 5px;
}

span.logoText {
    font-size: 50.5px;
    position: absolute;
    margin: 0px;
    top: -6px;
    left: 61px;
    font-weight: 600;
    
}

div.climbs.fs-4.col {
    max-width: 30vw;
    margin-left: 6vw;
}

div.shop.fs-4.col {
    max-width: 15vw;
    margin-left: 1vw;
}

div.user.fs-4.col {
    margin-left: 60vw;
    align-content: center;
}

nav.text-light.m-0.navbar {
    background-image: linear-gradient(79deg, #227035, #4c855a);
    padding-bottom: 0px;
}

a.dropdown-toggle.nav-link {
    width: 120px;
    margin-left: 1rem;
    padding-top: 11px;
    padding-bottom: 13px;
}

a.text-light.shopLink.nav-link {
    padding-top: 11px;
    padding-bottom: 13px;
}
a.text-light.userLink.nav-link {
    padding-top: 11px;
    padding-bottom: 13px;
    width: 8vw;
}

.navbar a:hover {
    border-radius: 7px;
    background-color: black;
}

div.navabar-collapse.collapse {
    max-height: 9px;
}