div.text-light.m-0.navbar {
    max-width: 1295px;
    margin: 0;
}

div.m-0.row {
    max-width: 1300px;
    min-width: 99vw;
    margin: 0px;
}

div.logo.col {
    max-width: 10vw;
    margin-left: 1vw;
}

svg.mt-2 {
    position: absolute;
    left: 27px;
    top: 5px;
}

span.logoText {
    font-size: 50px;
    position: absolute;
    margin: 0px;
    top: -6px;
    left: 58px;
    
}

a.dropdown-toggle.nav-link {
    max-width: 15vw;
    margin-left: 10vw;
}

div.climbs.fs-4.col {
    max-width: 15vw;
}

div.shop.fs-4.col {
    max-width: 15vw;
    margin-left: 3vw;
}

div.user.fs-4.col {
    margin-left: 59vw;
    align-content: right;
}

nav.text-light.m-0.navbar {
    background-image: linear-gradient(79deg, #227035, #4c855a);
}