:root {
  color-scheme: light dark;
  color: light-dark(#000, #ffffff);
  background-color: light-dark(#ffffff, #000);
}

body {
  place-items: center;
  background-color: rgb(33, 37, 41);

}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: white;
    background-color: rgb(33, 37, 41);
  }
}
