:root {
  color-scheme: dark;
  color: #ffffff;
  background-color: #000;
}

body {
  place-items: center;
  color: white;
  background-color: rgb(33, 37, 41);

}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: white;
    background-color: rgb(33, 37, 41);
  }
}
